In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import time

In [2]:
#set up splinter
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
#visit redplanetscience.com
url="https://redplanetscience.com/"
browser.visit(url)
#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#get news
quotes = soup.find_all('div', id='news')
for quote in quotes:

    news_title=soup.find("div",class_="content_title").get_text()
    news_p=soup.find("div",class_="article_teaser_body").get_text()
    print(f'news_title="{news_title}"')
    print(f'news_p="{news_p}"')

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jane\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

news_title="The Man Who Wanted to Fly on Mars"
news_p="The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being."

In [3]:
#set up splinter
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
#visity spaceimages-mars.com
url="https://spaceimages-mars.com/"
browser.visit(url)
#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#get floating_text_area
quotes = soup.find_all('div', class_='floating_text_area')

for quote in quotes:
    #get a
    link=quote.find('a')
    #get href
    image_url=link["href"]
    
    print(f"featured_image_url='https://spaceimages-mars.com/{image_url}'")

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jane\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

featured_image_url='https://spaceimages-mars.com/image/featured/mars1.jpg'

In [4]:
#get tables from galaxyfacts-mars.com
url="https://galaxyfacts-mars.com/"
tables=pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
#get type of tables
type(tables)
df1=tables[0]

df1

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [6]:
#set index of table1
df1=df1.set_index([0])
df1

                                       1                2
0
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [7]:
#get table2
df2=tables[1]
df2

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
#set index of table2
df2=df2.set_index([0])
df2

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [9]:
#convert the table to html table string
df1.to_html('table1.html')
df2.to_html('table2.html')

In [10]:
#set up splinter
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
#visit marshemispheres.com
url="https://marshemispheres.com/"
browser.visit(url)
#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#get item
quotes = soup.find_all('div', class_='item')
#create empty list and dictionary
hemisphere_image_urls=[]
dic={}
for quote in quotes:
    #get img tag
    title=quote.find("img")
    #get img alt
    title1=title["alt"]
    #split img alt and remove the last two
    title2=title1.split(" ")[0:-2]
    #rejoin the splitted img alt
    title3=" ".join(title2)
    #get img src
    image_url=title["src"]
    #get whole url
    image_url1=url+image_url
    #set up dic
    dic={"title":title3,"img_url":image_url1}
    #append the dic to list of hemisphere_image_urls
    hemisphere_image_urls.append(dic)
print(hemisphere_image_urls)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jane\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [11]:
browser.quit()