In [6]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import time

In [40]:
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)

url="https://redplanetscience.com/"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', id='news')


news_title=soup.find("div",class_="content_title").get_text()
news_p=soup.find("div",class_="article_teaser_body").get_text()
print(f'news_title="{news_title}"')
print(f'news_p="{news_p}"')

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jane\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

news_title="7 Things to Know About the Mars 2020 Perseverance Rover Mission"
news_p="NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission."

In [47]:
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
url="https://spaceimages-mars.com/"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
quotes = soup.find_all('div', class_='floating_text_area')

for quote in quotes:
    link=quote.find('a')
    image_url=link["href"]
    print(f"featured_image_url='https://spaceimages-mars.com/{image_url}'")

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jane\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

featured_image_url='https://spaceimages-mars.com/image/featured/mars1.jpg'

In [48]:
url="https://galaxyfacts-mars.com/"
tables=pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [101]:
type(tables)
df1=tables[0]

df1

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [102]:
df1=df1.set_index([0])
df1

                                       1                2
0
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [107]:
df2=tables[1]
df2

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [108]:
df2=df2.set_index([0])
df2

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [109]:
df1.to_html('table1.html')
df2.to_html('table2.html')

In [138]:
#time.sleep(random.randit(8,30))
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)

url="https://marshemispheres.com/"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', class_='item')
hemisphere_image_urls=[]
dic={}
for quote in quotes:
    link=quote.find('a')
    image_url=link["href"]
    title=quote.find("img")
    title1=title["alt"]
    title2=title1.split(" ")[0:-2]
    
    title3=" ".join(title2)
    dic={"title":title3,"img_url":image_url}
    hemisphere_image_urls.append(dic)
print(hemisphere_image_urls)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jane\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

[{'title': 'Cerberus Hemisphere', 'img_url': 'cerberus.html'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'schiaparelli.html'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'syrtis.html'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'valles.html'}]

In [6]:
browser.quit()